<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-http="http://www.springframework.org/schema/integration/http"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http.xsd">



    <int:gateway id="grabberService"
             service-interface="cartoongrabber.service.GrabberService"
             default-request-channel="grabberChannel"/>

    <int:channel id="grabberChannel" />
    <int:channel id="enrichedGrabberChannel" />

    <int:header-enricher input-channel="grabberChannel" output-channel="enrichedGrabberChannel">
        <int:header name="baseUrl" expression="payload"/>
    </int:header-enricher>

    <int-http:outbound-gateway request-channel="enrichedGrabberChannel"
                               reply-channel="textChannel"
                               url="{baseUrl}"
                               http-method="GET"
                               expected-response-type="java.lang.String">
        <int-http:uri-variable name="baseUrl" expression="headers.get('baseUrl')" />
    </int-http:outbound-gateway>


    <int:channel id="textChannel"/>
    <int:service-activator ref="textPrinter" input-channel="textChannel" />

</beans>