<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <int:gateway id="grabberService"
             service-interface="cartoongrabber.service.GrabberService"
             default-request-channel="grabberChannel"/>

    <int:channel id="grabberChannel" />

    <int:service-activator ref="helloService" input-channel="grabberChannel" />
</beans>