#if(!$cartoons.isEmpty())
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cartoon strips from $cartoons.get(0).getDate()</title>
</head>

<body>
<h1>Cartoons for $cartoons.get(0).getDate()</h1>
created by <a href="https://github.com/philippkrauss/cartoongrabber">cartoongrabber</a><br/><br/>
    #foreach($cartoon in $cartoons)
    <a href="#ref_$cartoon.name.hashCode()">$cartoon.name</a><br/>
    #end

    #foreach($cartoon in $cartoons)
    <h1 id="ref_$cartoon.name.hashCode()">$cartoon.name</h1>
    <img src="$cartoon.imageUrl"/>
    <br/>
    #end

</body>
</html>
#end